@media (max-width: 800px){
}
*{box-sizing: border-box;
}
body{
	margin-left: 50px;
}
.ham{
	display: hidden;
}
.logo{
	padding-top: 40px;
}
span{
	color: dimgrey;
	padding-left: 50px;
	padding-top: 40px;
}
.span:hover{
	transition: 0.3s esae;
}
.cart{
	position: relative;
	top: 10px ;
	left: 350px;
}
.avatar1{
	position: absolute;
	left:1170px;
	top: 35px;
}
.img{
	position: relative;
	left: 70px;
	top: 70px;
	border-radius: 5px;
}

h4{
	color: hsl(26, 100%, 55%);
}
p{
	color: dimgrey;
	font-size: 16px;
}
.buy{
	color: white;
	background-color: hsl(26, 100%, 55%);
	border-radius: 5px;
	border: hidden;
	width: 200px;
	height: 40px;
	align-items: center;
	position: relative;
	left: 170px;
	top: -20px;
}
applet{
	color: orange;
	width: 90px;
	height: 35px;
	background-color:lavenderblush;
	border-radius: 5px;
	font-weight: bolder;
	justify-content: center;
}
acronym{
	color: black;
	font-weight: bold;
	font-size: 20px;
}
del{
	color: slategrey;
	font-weight: bold;
}
h1{
	font-weight: bold;
	color: black;
	font-size: 45px;
}
.btn{
	width: 25px;
    filter: opacity(0.8) drop-shadow(0 0  0 black); 
    padding-right: 10px;
}
button{
	width: 50px;
	height: 30px;
	border-radius: 5px;
	border: hidden;
	background-color:hsl(223, 64%, 98%);
	position: relative;
	top: 20px;
	color: hsl(26, 100%, 55%);
	font-weight: bold;
	font-size: 18px;
}
hr{
	filter: opacity(0.2);
}
.grid-container1{
	position: absolute;
	left: 700px;
	top: 190px;
}
#itemcounter{
    position: absolute;
	top: 27px ;
	left: 1100px;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  display: inline-table;
  position: relative;
  left: 90px;
  top: 50px;
}

/* (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 180px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  filter: opacity(80%);
}
.modal-content {
  position: relative;
  margin-left: 250px;
  padding: 0;
  max-width: 500px;
  max-height: 500px;
  border-radius: 50%;
}
.close {
  color: white;
  position: absolute;
  top: 50px;
  right: 500px;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}

.mySlides {
  display: none;
  position: relative;
  left: 250px;
 top: -50px;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 10px;
  color: black;
  font-weight: bold;
  font-size: 20px;
  background-color: white;
  user-select: none;
  -webkit-user-select: none;
}
.next {
	position: relative;
	right: 280px;
	left: 529px;
	top: -175px;
  border-radius: 100%;
}
.next:hover{
	color: hsl(26, 100%, 55%);
}
.close:hover{
	color: hsl(26, 100%, 55%);
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  border-radius: 10px;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#get{
	position: relative;
	left: 160px;
	top: 50px;
	width: 300px;
}
.prev{
	margin-left: 235px;
	margin-top: -20px;
	border-radius:100%;
}
.prev:hover{
	color: hsl(26, 100%, 55%);
}
.demo{
	position: relative;
	left: 120px;
	border-radius: 10px;
}